{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer  bg-danger  text-center text-white ">
			<br> 
			<div class="col-md-12 text">
				<p > Made with <i class="text-primary fa fa-heart" ></i> by <a href="https://www.linkedin.com/in/krishnakant-pal-268b10160/" >Krishnakant Pal</a></p>
				<p class="text-muted "><span  class="px-2 text-center"><a href="mailto:palkrishnakant17@gmail.com">palkrishnakant17@gmail.com</a></span>
				<span  class="px-2 "><i class="fa fa-map-marker" ></i> Mumbai, India</span></p>
			<br>	
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->